@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Navigator Knife Co. </h1>
    <h1><img src="~/img/img0.png" /></h1>
    <a href="Home">Home</a>
    <a href="Knife Shop">Knife Shop</a>
    <a href="Custom Knives">Custom Knives</a>
    <a href="Contact Us">Contact Us</a>
    <h1>Your Knife, Your Style</h1>
    <h3>We work closely with our clients to ensure they get the custom made knife they have always dreamed of.</h3>
    <img src="~/img/img1.jpg" />
    <img src="~/img/img2.jpg" />
    <img src="~/img/img3.jpg" />
    <h1>The Knife Shop</h1>
    <p>
        No time for a custom made knife? No problem.

        Check out the pre-made hand crafted knives currently available in our knife shop.

    </p>
    <a href="Go to the Knife Shop">Go to The knife Shop</a>

</div>
<div>
    <h1>NAVIGATOR KNIFE CO.</h1>
    <p>Sign up with your email address to receive our newsletter.</p>
    <a href="Email Address">Email Address</a>
    <a href="Sign UP">Sign Up</a>
    <p>We respect your privacy.</p>
    <a href="Get your own Navigator Knife Co. merchandise">Get your own Navigator Knife Co. merchandise</a>
    <p>© Navigator Knife Co.</p>
    <p>Design by <u>THP</u></p>
</div>
