@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<h1><img src="~/img/img0.png" /></h1>
<a href="Home">Home</a>
<a href="Knife Shop">Knife Shop</a>
<a href="Custom Knives">Custom Knives</a>
<a href="Contact Us">Contact Us</a>
<h1>About Navigator Knife Co.</h1>
<img src="~/img/FrasBren.jpg" />
<h1>Meet The Team</h1>
<p>Navigator Knife Co. started as a hobby and has grown into a family owned small business run by two brothers - Fraser and Brendyn DeGuire.</p>
<b>Fraser</b>
<p>Fraser trained as a machinist in college and as a result, has always enjoyed working with metal. He has turned his love of steel into an artform. </p>
<b>Brendyn</b>
<p>Brendyn’s artistic background has provided a unique design approach to the knife making process.</p>
<h3>Why Navigator Knife Co?</h3>
<p>
    The name of the company has significant meaning.

    There is an historical record of an Irish saint who lived in the 6th century named Brendan and is famously known as “The Navigator”.

    It is theorized that he may have been the first European to reach the Americas. Brendyn shares this name (although it is spelled differently) and the name also accurately describes the distance between the knife makers.

    Brendyn lives in Windsor, Canada while Fraser lives in Antigua, Guatemala. Navigation and travel are very well known to both brothers.
</p>
<h3>The Navigator Brand</h3>
<p>The logo, arrows pointing North and South, also indicates this distance and their respective locations. The logo also forms an N, A and V in the shape. </p>
<a href="Contact Us Now">Contact Us Now</a>
<div>
    <h1>NAVIGATOR KNIFE CO.</h1>
    <p>Sign up with your email address to receive our newsletter.</p>
    <a href="Email Address">Email Address</a>
    <a href="Sign UP">Sign Up</a>
    <p>We respect your privacy.</p>
    <a href="Get your own Navigator Knife Co. merchandise">Get your own Navigator Knife Co. merchandise</a>
    <p>© Navigator Knife Co.</p>
    <p>Design by <u>THP</u></p>
</div>
